div#header
    a(href="/MDAPI/myProfile") Home
    |
    |
    |
    a(href="/MDAPI/search") Search Movie
    |
    |
    |
    a(href="/MDAPI/searchUser") Search User
    |
    |
    |
    a(href="/MDAPI/searchPerson") Search Person
    |
    |
    |
    a(href="/MDAPI/logout") Logout