html
  head
    title Sign Up 
    style.
      body { background-color: #23272A; color: #ffffff; }
      a { color: lightblue; }
      a:hover { color: purple; }
      input { background-color: #23272A; padding: 10px; border-color: silver; width: 220px; }
      input:focus { background-color: #000000; color: white; outline: none; border-color: silver; }
      form { top: 50%; left: 50%; position: absolute; transform: translate(-50%, -50%); }
      button { position: absolute; top: 60%; left: 35%; border-color: silver; background-color: white; color: #23272A; padding: 6px; }
      button:hover { border-color: purple; color: blue; }
      h1 { text-align: center; }

  body
      header
          h1 Movie Database API 
      hr
      form(method="POST" action="/MDAPI/signup")
          input(type="text" placeholder="Enter Username" name="username" required)
          br
          input(type="text" placeholder="Enter Password" name="password" required)
          br
          br
          button(type="submit") Sign Up 
          br
          br
          a(href="/MDAPI/") Already Have An Account? Log In 